.navbar {
  background-color: white;
  color: var(--gray);
  width: 100vw;
  height: max-content;
  padding-bottom: 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.navLinks {
  margin: 0 2rem 0 2rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--gray);
  transition: all 0.2s;
}

a.active {
  color: var(--primary);
  background-color: rgba(200, 200, 200, 0.3);
  padding: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
}
