.table_component {
  font-family: "Inter", sans-serif;
}

.searchWIcon {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  width: 20rem;
}

.searchWIcon:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.searchWIcon .iconify {
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.employees {
  display: flex;
  flex-direction: column;
}

.employees h3 {
  margin: 0;
}

.employees p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.employee {
  padding: 1rem;
  color: black;
  background-color: rgb(219, 219, 219);
  margin-top: 2rem;
  border: 1px solid black;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.sortButtons {
  font-weight: 400;
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
  padding: 0.25rem 1rem 0.25rem 1rem;
  transition: all ease-in-out 0.4s;
}

.sortButtons:hover {
  transform: scale(1.1);
  background-color: var(--gray);
  color: white;
}

.table_component input {
  border-radius: 0.25rem;
  border: 0;
  width: max-content;
  font-size: 1rem;
  height: max-content;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--gray);
}

table {
  border-collapse: collapse;
  margin: 2rem 0;
}

.actionsButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionsButtons .action {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
  color: white;
  transition: all ease-in-out 0.2s;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  width: max-content;
  height: max-content;
  border: 2px solid black;
}

.actionsButtons .action:hover {
  background-color: var(--gray);
  color: white;
}

.conditional {
  color: var(--gray);
}

table th:first-child {
  border-top-left-radius: 0.5rem;
}

table th:last-child {
  border-top-right-radius: 0.5rem;
}

.tableSortOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.tableSortOptions input:focus {
  outline: none;
}

table td,
table th {
  padding: 8px;
}

table tr {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

table tr:last-child {
  border-bottom: 1px solid black;
}

table tr:first-child {
  border: none;
  border-bottom: 1px solid black;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:hover {
  background-color: #ddd;
}

table tr {
  color: black;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: white;
}
